version: "3.9"

services:

  mongodb:
    image: mongo:7.0
    container_name: mongodb
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: rootpassword
    volumes:
      - mongo_data:/data/db
    networks:
      - mvts_network


  consul:
    image: hashicorp/consul:1.19.1
    container_name: consul-server
    ports:
      - "8500:8500" # UI web de Consul
      - "8600:8600/udp" # Puerto para consultas DNS
    command: agent -server -ui -node=server-1 -bootstrap-expect=1 -client=0.0.0.0
    networks:
      - mvts_network

  rabbitmq:
    image: rabbitmq:3-management-alpine
    container_name: rabbitmq-server
    ports:
      - "5673:5672"   # AMQP
      - "15673:15672" # Management UI
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    networks:
      - mvts_network

  # 1
  vehiculos:
    build: ./vehiculos
    container_name: vehiculos
    depends_on:
      - rabbitmq
    environment:
      - RABBITMQ_HOST=rabbitmq
      - RABBITMQ_USER=guest
      - RABBITMQ_PASSWORD=guest
    networks:
      - mvts_network

  # 2
  telemetria:
    build: ./telemetria
    container_name: telemetria-service
    depends_on:
      - consul
      - rabbitmq
      - vehiculos
    environment:
      - RABBITMQ_HOST=rabbitmq
      - RABBITMQ_USER=guest
      - RABBITMQ_PASSWORD=guest
      - CONSUL_HOST=consul-server
      - CONSUL_PORT=8500
      - SERVICE_NAME=telemetria-service
      - SERVICE_PORT=3006
      - TTL_INTERVAL=10
    ports:
    - "3006:3006"
    networks:
      - mvts_network

   # 3
  semaforos:
    build: ./semaforos
    container_name: semaforos-service
    depends_on:
      - consul
      - rabbitmq
      - vehiculos
      - telemetria
      - mongodb
    environment:
      - RABBITMQ_HOST=rabbitmq
      - RABBITMQ_USER=guest
      - RABBITMQ_PASSWORD=guest
      - CONSUL_HOST=consul-server
      - CONSUL_PORT=8500
      - SERVICE_NAME=semaforos-service
      - SERVICE_PORT=3050
      - MONGO_URL=mongodb://root:rootpassword@mongodb:27017/semaforos?authSource=admin
    ports:
    - "3050:3050"
    networks:
      - mvts_network

  # 4
  alertas:
    build: ./alertas
    container_name: alertas-service
    depends_on:
      - consul
      - rabbitmq
      - viajes-completados
      - congestiones
    environment:
      - RABBITMQ_HOST=rabbitmq
      - RABBITMQ_USER=guest
      - RABBITMQ_PASSWORD=guest
      - CONSUL_HOST=consul-server
      - CONSUL_PORT=8500
      - SERVICE_NAME=alertas-service
      - SERVICE_PORT=3012
      - TTL_INTERVAL=10
    ports:
    - "3012:3012"
    networks:
      - mvts_network


  # 5
  reportes:
    build: ./reportes
    container_name: reportes-service
    depends_on:
      - rabbitmq
      - congestiones
      - mongodb # es pa que mongo se inicie antes jsjs
    environment:
      - RABBITMQ_HOST=rabbitmq
      - RABBITMQ_USER=guest
      - RABBITMQ_PASSWORD=guest
      # Usamos el servicio 'mongodb' que ya estaba definido :D
      - MONGO_HOST=mongodb
      - MONGO_PORT=27017
      - MONGO_DB=reportes-db
      - MONGO_URL=mongodb://root:rootpassword@mongodb:27017/reportes-db?authSource=admin
      - SERVICE_PORT=3002
    ports:
    - "3002:3002"
    networks:
      - mvts_network

  # 6
  congestiones:
    build: ./congestiones
    container_name: congestiones-service
    depends_on:
      - consul
      - rabbitmq
      - telemetria
    environment:
      - RABBITMQ_HOST=rabbitmq
      - RABBITMQ_USER=guest
      - RABBITMQ_PASSWORD=guest
      - CONSUL_HOST=consul-server
      - CONSUL_PORT=8500
      - SERVICE_NAME=congestiones-service
      - SERVICE_PORT=3010
      - TTL_INTERVAL=10
    ports:
    - "3010:3010"
    networks:
      - mvts_network

  # 7
  viajes-completados:
    build: ./viajes-completados
    container_name: viajes-completados-service
    depends_on:
      - consul
      - rabbitmq
      - vehiculos
    environment:
      - RABBITMQ_HOST=rabbitmq
      - RABBITMQ_USER=guest
      - RABBITMQ_PASSWORD=guest
      - CONSUL_HOST=consul-server
      - CONSUL_PORT=8500
      - SERVICE_NAME=viajes-completados-service
      - SERVICE_PORT=3008
      - TTL_INTERVAL=10
    ports:
    - "3008:3008"
    networks:
      - mvts_network

networks:
  mvts_network:
    driver: bridge

volumes:
  mongo_data:

