/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root{
    --panel-background-color: white;
    --text-color: #707070;
    --button-secondary-bg-color: #0979c9;
    --button-text-color: aliceblue;
    --button-cancel-hover-bg-color: #fa5a5a;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    user-select: none;
}


body{
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0; 
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}

.home .text{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
}

.sidebar.close ~ .home{
    left: 100px;
    height: 100vh;
    width: calc(100% - 100px);
}

.body-wrapper{
    width: 90%;
    height: 100%;
    max-width: 2000px;
    padding: 15px 50px;
}

.stepper-wraper{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    max-width: 100%;
    overflow-y: auto;
    gap: 10px;
    background-color: var(--panel-background-color);
    border-radius: 10px;
    padding: 15px 0px 15px 10px;
    margin-top: 15px;
    color: var(--text-color);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}

.reports-filter-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 50px;
}

.filters{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 10vh;
    gap: 1rem;
    width: 100%;
}

.input-wrapper {
    display: flex;
    align-items: start;
    flex-direction: column;
}

select, input{
    height: 3rem;
    width: 12rem;
    padding: 0.5rem;
}

.separator {
    width: 1px;
    height: 4rem;
    background: #ccc;
    margin: 0.3rem;
    margin-top: 2rem;
    user-select: none;
}

.actions-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.actions-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}


.button-search, .button-download{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    gap: 1rem;
    height: 3rem;
    width: auto;
    margin-top: 1rem;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 1rem;
    margin-top: 1.5rem;
    color: var(--button-text-color);
}

.button-search{
    background-color: var(--button-secondary-bg-color);
}

.button-download{
    background-color: #089e08;
    width: 12rem;
}

.table-wrapper{
    width: 100%;
    margin-top: 40px;
}


/*Styles for the logout dialog*/
dialog {
  border: none;
  border-radius: 10px;
  padding: 20px 25px;
  background: white;
  width: 300px;
  text-align: center;
  user-select: none;
  /* centers the dialog */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}  

/* Dark background when open */
dialog::backdrop {
  background: rgba(0, 0, 0, 0.4);
}

/* text and buttons */
.dialog-form p {
  font-size: 1.3rem;
  color: #333;
  margin-bottom: 20px;
}

.dialog-buttons {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

#dialog-cancel-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    gap: 1rem;
    height: 3rem;
    width: 8rem;
    margin-top: 1rem;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 1rem;
    margin-top: 1.5rem;
    background-color: var(--button-cancel-bg-color);
    color: var(--button-text-color);
}

#dialog-cancel-button:hover {
  background-color: var(--button-cancel-hover-bg-color);
}

#dialog-confirm-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    gap: 1rem;
    height: 3rem;
    width: 8rem;
    margin-top: 1rem;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 1rem;
    margin-top: 1.5rem;
    background-color: var(--button-primary-bg-color);
    color: var(--button-text-color);
}

#dialog-confirm-button:hover {
  background-color: #f77d19;
}


/* Styles for the buttons of the lights filter dialog */

.dialog-tittle {
  font-size: 1.5rem;
  margin-bottom: 15px;
  text-align: center;
}

.filter-actions-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 25px;
}