@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --header-bg-color: #2c3e50;
  --header-text-color: white;
  --button-primary-bg-color: #ff7300;
  --button-text-color: white;
  --table-header-bg-color: #2c3e50;
  --table-header-text-color: #ffffff;
  --table-row-hover-bg-color: #cfcfcf;
  --button-cancel-bg-color: #e23535;
  --button-cancel-hover-bg-color: #fa5a5a;
  --red-light-color: #ed2e2e;
  --green-light-color: #2eed4b;
  --button-secondary-bg-color: #0979c9;
  --panel-background-color: white;

     /* ===== Colors ===== */
    --body-color: #f0f2f6;
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;
    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif; 
}

body{
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0; 
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}

.home .text{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
}

.sidebar.close ~ .home{
    left: 100px;
    height: 100vh;
    width: calc(100% - 100px);
}

.body-wrapper{
    width: 100%;
    height: 100%;
    max-width: 2000px;
    padding: 15px 50px;
}

.stepper-wraper{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    max-width: 100%;
    overflow-y: auto;
    gap: 10px;
    background-color: var(--panel-background-color);
    border-radius: 10px;
    padding: 20px 0px 20px 10px;
    margin-top:15px;
    color: var(--text-color);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}

/*Styles wrapper for the map and the tables*/

.wrapper{
  width: 100%;
  height: 100vh;
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  user-select: none;
  gap: 2rem;
}

/*Styles for the map*/

.map-tittle{
  font: Roboto;
  font-size: 1.3em;
}

.map-tittle span{
  color:var(--text-color);
  font-size: 0.8rem;
  margin-left: 0.5rem;
}

.map-container{
  width: 700px;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-bottom: 50px;
}

#map{
  flex: 1;
  aspect-ratio: 19/11;
  width: 100%; 
  top: 10px; 
  border-radius: 8px;
  border-width: 1.5px; 
  border-style: solid; 
  border-color: rgb(230, 230, 230); 
  box-shadow: 10px 10px 15px rgba(0,0,0,0.2);
}


/*Styles for the tables*/

.tables-article{
  width: 55%;
  max-width: fit-content;
}

/* styles for the light indicators */
#light-state {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--red-light-color); /* Default color */
  margin: auto;
}

.manual-light-state {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--red-light-color); /* Default color */
  margin: auto;
}


/*Styles for the logout dialog*/
dialog {
  border: none;
  border-radius: 10px;
  padding: 20px 25px;
  background: white;
  width: 400px;
  text-align: center;
  user-select: none;
  /* centers the dialog */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}  

/* Dark background when open */
dialog::backdrop {
  background: rgba(0, 0, 0, 0.4);
}

/* text and buttons */
.dialog-form p {
  font-size: 1.3rem;
  color: #333;
  margin-bottom: 20px;
}

.dialog-buttons {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

#dialog-cancel-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    gap: 1rem;
    height: 3rem;
    width: 8rem;
    margin-top: 1rem;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 1rem;
    margin-top: 1.5rem;
    background-color: var(--button-cancel-bg-color);
    color: var(--button-text-color);
}

#dialog-cancel-button:hover {
  background: var(--button-cancel-hover-bg-color);
}

#dialog-confirm-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    gap: 1rem;
    height: 3rem;
    width: 8rem;
    margin-top: 1rem;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 1rem;
    margin-top: 1.5rem;
    background-color: var(--button-primary-bg-color);
    color: var(--button-text-color);
}

#dialog-confirm-button:hover {
  background: #f77d19;
}


/* Styles for the buttons of the lights filter dialog */

.dialog-tittle {
  font-size: 1.5rem;
  margin-bottom: 15px;
  text-align: center;
}

.filter-actions-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 25px;
}


.input-wrapper{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 1.5rem ;
}

.input-wrapper label{
  font-size: 1rem;
}

input{
  width: 100%;
  height: 3rem;
  padding-left: 1rem;
}

select{
  width: 100%;
  height: 3rem;
  padding-left: 1rem;
}

.confirm-filters-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    gap: 1rem;
    height: 3rem;
    width: 8.5rem;
    margin-top: 1rem;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 1rem;
    background-color: var(--button-primary-bg-color);
    color: var(--button-text-color);
}

.reset-filters-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    gap: 0.7rem;
    height: 3rem;
    width: 8.5rem;
    margin-top: 1rem;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 1rem;
    background-color: var(--button-secondary-bg-color);
    color: var(--button-text-color);
}

.reset-filters-button span{
  font-size: 1.2rem;
}

.filter-actions-group{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.popup-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  animation: fadeIn 0.3s ease-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.light-popup-code {
  padding: 6px 6px;
  width: 100%;  
  background-color: #56afee;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  border-color: #0979c9;
  
  /* Center content */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
    
  /* Text styling */
  font-size: 0.9rem;
}
  
.light-popup-state {
  padding: 6px 6px;
  width: 100%;
  background-color: #b6b6b6;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  border-color: gray;
    
  /* Center content */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
    
  /* Text styling */
  font-size: 0.9rem;
}

.light-popup-state.rojo{
  background-color: #f79494;
  border-color: rgb(240, 38, 38);
}

.light-popup-state.amarillo{
  background-color: #f7fcb8;
  border-color: rgb(201, 199, 72);
}

.light-popup-state.verde{
  background-color: #a1e792;
  border-color: #40c73b;
}

.light-popup-button{
  padding: 6px 10px;
  background: var(--button-primary-bg-color);
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

